/status_message/config.json
/.idea
/diff_orb/fits_alignment.log
*.pyc
/diff_orb/*.log
/gui/gui_config.json
/gui/aligned_fits_comparison.log
/gui/fits_alignment.log
/config/url_config.json
/gui/mpc_variables
/gui/gy1_region_index.json
